.main_container {
  max-width: 1400px;
  margin: auto;

  .container {
    max-width: 1400px;
    margin: auto;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .course {
    margin-top: 100px;
    max-width: 80%;
  }

  .course h3 {
    color: rgba(43, 120, 139, 1);
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 20px;
  }

  .course h2 {
    font-family: 'Dela Gothic One';
    font-weight: 400;
    font-size: 56px;
    line-height: 67.2px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 25px;
  }

  .platform {
    color: rgba(117, 117, 117, 1);
    font-weight: 600;
    font-size: 18px;
    line-height: 25.2px;
    margin-bottom: 25px;
  }

  .course button {
    font-family: 'Montserrat';
    border-radius: 100px;
    border-color: rgba(195, 220, 227, 1);
    color: rgba(43, 120, 139, 1);
    background-color: rgba(195, 220, 227, 1);
    padding: 7px 13px 7px 13px;
    cursor: pointer;
    font-weight: 700;
    line-height: 16px;
  }


  .course .img {
    max-width: 933px;
  }

  .relative {
    position: relative;
    max-width: 100%;
  }

  .back {
    position: absolute;
    top: 350px;
    width: 100%;
    z-index: -1;
  }

  .before {
    position: absolute;
    top: 170px;
    width: 100%;
    z-index: +1;
    padding-left: 300px;
  }

  .word-game {
    display: flex;
    align-items: center;
    margin-top: 40px;
  }

  .words {
    max-width: 165px;
    margin-right: 120px;
  }

  .number {
    font-family: 'Dela Gothic One';
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    color: black;
  }

  .words .number {
    background: url(./img/word.png) no-repeat left;
    padding-left: 30px;

  }

  .words img {
    padding-bottom: 5px;
  }

  .words .t {
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    color: #585858;
  }

  .games .t {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    color: #585858;
  }

  .games {
    max-width: 110px;
  }

  .games .number {
    background: url(./img/game.png) no-repeat left;
    padding-left: 30px;
  }

  .games img {
    padding-bottom: 5px;
  }

  .learn-words {
    margin-top: 80px;
  }

  .learn-words .text {
    max-width: 450px;
  }

  .learn-words h2 {
    font-family: 'Dela Gothic One';
    font-weight: 400;
    font-size: 56px;
    line-height: 67.2px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 25px;
  }

  .learn-words p {
    color: rgba(117, 117, 117, 1);
    font-weight: 600;
    font-size: 18px;
    line-height: 25.2px;
    margin-bottom: 25px;
  }

  .textbook {
    margin-top: 80px;
  }

  .textbook .text {
    max-width: 475px;
  }

  .textbook h2 {
    font-family: 'Dela Gothic One';
    font-weight: 400;
    font-size: 56px;
    line-height: 67.2px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 25px;
  }

  .textbook p {
    color: rgba(117, 117, 117, 1);
    font-weight: 600;
    font-size: 18px;
    line-height: 25.2px;
    margin-bottom: 25px;
  }


  .textbook button {
    font-family: 'Montserrat';
    background: url(./img/right-arrow.png) no-repeat right;
    border-radius: 100px;
    border-color: rgba(195, 220, 227, 1);
    color: rgba(43, 120, 139, 1);
    background-color: rgba(195, 220, 227, 1);
    padding: 7px 18px 7px 13px;
    cursor: pointer;
    font-weight: 700;
    line-height: 16px;
  }

  .statistics {
    margin-top: 80px;
  }

  .statistics.text {
    max-width: 475px;
  }

  .statistics h2 {
    font-family: 'Dela Gothic One';
    font-weight: 400;
    font-size: 56px;
    line-height: 67.2px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 25px;
  }

  .statistics p {
    color: rgba(117, 117, 117, 1);
    font-weight: 600;
    font-size: 18px;
    line-height: 25.2px;
    margin-bottom: 25px;
  }

  .statistics button {
    font-family: 'Montserrat';
    background: url(./img/right-arrow.png) no-repeat right;
    border-radius: 100px;
    border-color: rgba(195, 220, 227, 1);
    color: rgba(43, 120, 139, 1);
    background-color: rgba(195, 220, 227, 1);
    padding: 7px 18px 7px 13px;
    cursor: pointer;
    font-weight: 700;
    line-height: 16px
  }

}